.model-apply_constraints-body-actions-icons {
    height: 320px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(229, 229, 229, 1);

}
.model-apply_constraints-body-actions-icons-item {
    width: 49%;
    height:79px;
    margin-bottom:1px;
    display: flex;
    justify-content:center;
    align-items:center;
}