.model-apply_constraints-body-actions-directional_keys {
    min-height: 160px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(229, 229, 229, 1);
}
.model-apply_constraints-body-actions-directional_keys-item {
    height: 53px;
    width:33%;
    display:flex;
    justify-content: center;
    align-items: center;
}