.item {
    width: 90%;
    min-height: 147px;
    margin-top: 39px;
    margin-bottom: 10px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    border: dashed #C4C4C4;
}
.item-factor {
    height: 40px;
    margin:2px;
    background: #FFD60A;  
    color:#ffffff;
}
.item-header {
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.item-header-label {
    height: 100%;
    margin:2px;
    font-family: Overpass;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    /* identical to box height, or 104% */
    color: #081C4D;
}
.item-header-icon {
   height:100%;
   display: flex;
   margin-top:2px;
   margin-right:2px;
}