.model-apply_constraints-body-actions-filters {
    margin-top:2px;
    min-height: 38.47px;
    display: flex;
    justify-content: space-between;
    background: rgba(229, 229, 229, 1);
}
.model-apply_constraints-body-actions-filters-text {
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
}
.model-apply_constraints-body-actions-filters-icon {
    margin-right: 10%;
}