.next_preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 39px;
  width: 90%;
  margin-bottom: 30px;
}

.next_preview-preview,
.next_preview-next {
  width: 130px;
  height: 64px;

  background: rgba(8, 28, 77, 0.2);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

.next_preview-preview:hover {
  background: #081c4d;
}
.next_preview-next:hover {
  background: #081c4d;
}

.save-button {
  width: 130px;
  height: 64px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Montserrat";
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;

  background: rgba(23, 161, 55, 0.5);
}

.save-button:hover {
  background-color: #17a137;
}
