.predict-container {
  width: 100%;
}

.predict-table-container {
  width: 90%;
  margin: auto;
  padding: 30px 30px;
  box-sizing: border-box;
  background-color: white;
  /* box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%); */
  border-radius: 5px;
  margin-bottom: 40px;
}

.predict-table-container > table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

.predict-table-container > table > tr {
  margin-bottom: 10px;
}

.predict-table-container > table > tr > th:first-child {
  width: 20%;
}
.predict-table-container > table > tr > th:nth-child(2) {
  width: 40%;
}
.predict-table-container > table > tr > th:last-child {
  width: 40%;
}
.predict-table-container > table > tr:nth-child(2) > th:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.predict-table-container > table > tr:nth-child(2) > th:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.predict-table-container > table > tr:nth-child(n + 2) > td:nth-child(2) {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.predict-table-container > table > tr:nth-child(n + 2) > td:last-child {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

td {
  width: 20%;
}

.predict-table-container > table > tr:first-child > th,
.predict-table-container > table > tr:nth-child(2) > th {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: var(--background-blue);
}

.predict-table-container > table > tr:nth-child(2) > th {
  font-weight: 500;
}

.predict-table-container > table > tr > td:first-child > div {
  height: 58px;
  background: var(--yellow);
  border-radius: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.btn-save {
  width: 143px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 2px;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.btn-save {
  background: var(--background-blue);
  border: 2px solid var(--background-blue);
  color: #ffffff;
}

.close {
  width: 30px;
  height: 30px;
  opacity: 0.3;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 15px 5px 10px 0px;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.label-form {
  font-family: "Overpass";
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.input-form {
  width: 203px;
  height: 45px;
  left: 1020px;
  top: 274px;

  background: #e5e5e5;
  border-radius: 2px;
  border: inherit;
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* color: #ffffff; */
  margin-right: 10px;
  padding: 10px;
}
