.timeline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 69px;
  }
  
  .timeline-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--stronger-grey);
  }
  
  .timeline-container > div > .square {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--stronger-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 10px;
  }
  
  .timeline-container > .line {
    width: 157px;
    border: 1px solid var(--stronger-grey);
    background-color: var(--stronger-grey);
  }
  
  .timeline-highlight > .div {
    color: var(--medium-blue);
  }