.timeline-container {
    display: flex;
    align-items: center;
    margin-top: 69px;
    width: 90%;
    margin-bottom: 30px;
  } 
  .square-container {
    height:110px;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .square-container > .square {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }
  .line-container {
    height:110px;
    width: 20%;
  }

  .line {
    margin-top: 18px;
  }
  