/*Importing css files */
@import "index.css";
@import "./css/Login.css";

/*Importing Fonts(Overpass + Montserrat) */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Overpass:wght@300;400;700&display=swap");

/* ---------------- */
/* - Commun Rules - */
/* ---------------- */

:root {
  --background: #f5fafd;
  --background-blue: #081c4d;
  --green: #2ec4b6;
  --dark-grey: #cbd2d0;
  --light-grey: #cbd2d0;
  --input-grey: #9b9b9b;
  --yellow: #ffce31;
}

.App {
  font-family: "Overpass", sans-serif;
  background: var(--background);
  letter-spacing: 0.05em;
  width: 100%;
  min-height: 100vh;
}

.error {
  color: red;
}

.container-with-margin {
  margin-left: 301px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: calc(10px + 2vmin);
}
.container-without-margin {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}


  
