.App {
  margin-left: 301px;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: calc(10px + 2vmin);
  background:#E5E5E5;
  background-size: cover;
}
.App2 {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: calc(10px + 2vmin);
  background:#E5E5E5;
  background-size: cover;
}


.App-link {
  color: #61dafb;
}

